<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to our Cars App</h1>
    <li><a href="/">Home</a></li>
    <li><a href="/cars">Cars</a></li>
  </body>
</html>
